{% if page.comments %}

<div class="comments">

  <style>
    #disqus_thread {
      max-width: 700px;
      padding: 0 1rem;
      margin: 0 auto;
    }
  </style>

  <div id="disqus_thread"></div>
  
  <script type="text/javascript">
   
    var disqus_config = function (){
      this.page.url = '{{ site.url }}{{ page.url }}';
      this.page.identifier = '{{ page.url }}';
    };
    
    (function() {
      var d = document, s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true;
      s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      console.log(s.src);
    })();
    
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

{% endif %}