<p class="codepen" data-height="264" data-theme-id="light" data-default-tab="html,result" data-user="subtleWorks" data-slug-hash="{{include.slug}}" style="height: 264px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title='{{include.pen}}'>
  <span>See the Pen <a href="https://codepen.io/subtleWorks/pen/{{include.slug}}">
  {{ include.pen }}</a> by subtleWorks (<a href="https://codepen.io/subtleWorks">@subtleWorks</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script src="/assets/js/ei.js"></script>